name: Test PR
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v6
        with:
          path: code

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: code/go.mod
          cache-dependency-path: code/go.sum

      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
        shell: bash

      - name: Build custom.dat file
        run: |
          cd code || exit 1
          go run ./ --outputdir=../
          cd ../ && rm -rf code
          mv custom.dat TEST-${{ github.run_number }}-custom.dat

      - name: Upload TEST-${{ github.run_number }}-custom.dat
        uses: actions/upload-artifact@v6
        with:
          name: TEST-${{ github.run_number }}-custom.dat
          path: TEST-${{ github.run_number }}-custom.dat
